@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body, ul, ol, dl {
    margin: 0;
}
*{
    box-sizing: border-box;
}

@import "bootstrap";



.btn-primary{
    border-color: #A13333 !important;
    background-color: #A13333  !important;
    border-radius: 20px !important; 
    opacity: 100%;
    margin-right: 50px;
    
    
   
    
}
.btn-outline-info{
    border-color: #A13333 !important;
    color: #A13333 !important;
    border-radius: 20px !important;
}

.btn-outline-info:hover{
    background-color: #A13333 !important;
    color:white !important;
}

.header {
    border: 3px solid red;
    width: 100%;
    display: flex;
    background-color: black;
    
}
.gymName{
    border:3px solid green;
    padding:10px;
    color: aliceblue;
}
.bar{
   border: 3px solid green;
   padding: 10px;
   display: flex;
   flex-direction: row;
   gap: 20px;
   color: aliceblue;
   margin: auto;
   
}

.socials {
    display:flex;
    border: 3px solid green;
    padding: 10px;
    gap: 25px;
    filter: invert();
    align-items: center;
    
    
}
.body{
    background: linear-gradient(to right,#000000 30.85%,#A13333 85.5%);
    border: 3px solid green;

    
    
}

.leftBox{
    
    display: flex;
    flex-direction: column;
    width: 35%;
    color: aliceblue;
    
}
.mainText {
    
    border: 3px solid green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-size: 50px ;
    
}   

.infoText {
    border: 3px solid green;
}

.rightBox{

    border: 3px solid green;
    flex-direction: column;
    width: 35%;
    text-align: center;
    
}

.Hero{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8%;
    
    
}

canvas{
    border: 3px solid black;
   
}


video{
    /* margin-top: 20%; */
    width: 100%;
    border-radius: 3%;
    box-shadow: inset;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .canvasBox{
    border: 3px solid blue;
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:10px;
    
    
  }

  .canvas-container{
    margin: auto;
    display: flex;
    border:3px solid yellow;

  }
  

  .top-text-left {
    color:white;
  }

  .top-text-right {
    color:white;

  }

  footer{
    border:3px solid yellow;
    width: 100%;
    background-color: #000000;
  }

  .footerBox{
    border:3px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    
    align-items: center;
  }

  .location{
    border: 3px solid yellow;
    color: white;
    
    
  }

  .contact{
    border: 3px solid yellow;
    color: white;
   
  }

  .footerInfo{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 30px;
  }

  